body, html {
font-family: sans-serif;
padding: 0px;
margin: 0px;
text-align: center;

}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .wiki {
    margin-bottom: 150px;

  }
  .footer{
    height: 150px;
  }
}

.map {
  height: 400px;
  min-height: 25%;
  width: auto;

}

.header {
  padding-top: 1em;
  background-color: #1D617B;
  height: 100px;
  line-height: 100px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 20px black;;
  top: 0;
  left: 0;
  right: 0;

}

.footer {
  background-color: #1D617B;
  padding-top: 1em;
  padding-bottom: 1em;
  color: grey;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 2px 2px 20px black;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  width: 100%;

}

a:hover {
  text-decoration: none;

}

.footer a {
  color: #ffffff;

}

.robot {
  width: 70px;
  max-width: 70px;
  float: left;

}

.github {
  width: 70px;
  max-width: 70px;

}

.trello {
  width: 90px;
  max-width: 90px;

}

h1 {
  text-align: center;

}

body {
  background-color: #203033;
  text-shadow: 1px 1px 1px black;
  color: grey;

}

#container-fluid response {
  display:flex;
  justify-content: space-around;

}
